.people-holder {
  display: flex;
  flex-direction: column;
}

.person-element {
  display: flex;
  margin-bottom: 1%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.person-text {
  display: flex;
  flex-direction: column;
  flex-basis: 65%;
}

.person-img {
  flex-basis: 30%;
  max-width: 150px;
  height: auto;
  margin: 1% 0;
}

.light-yellow {
  background-color: lightyellow;
}

.light-blue {
  background-color: lightblue;
}

